.App {
  font-family: sans-serif;
  text-align: center;
}
.wideDiv a:hover {
  color: #000;
}
@media screen and (max-width: 800px) {
  #cn {
    width: 50px;
  }
}

.navbar-light .navbar-nav .nav-link {
  color: gray;
  margin-left: 50px;
  font-size: 17px;
}
.navbar-light .navbar-nav .nav-link:hover {
  color: #4fad36;
  border-bottom: 2px solid red;
  animation-duration: 2s;
}
.bg-light {
  background-color: white !important;
}
.cap {
  margin-bottom: 150px;
}
@media screen and (max-width: 800px) {
  .cap {
    margin-bottom: 5px;
  }
}
@media screen and (max-width: 300px) {
  .cap {
    margin-bottom: -35px;
  }
}
.btnRdv {
  width: 200px;
  height: 45px;
  font-size: 20px;
  font-weight: 900;
  color: red;
  background-color: transparent;
  border: 2px solid #4caf50;
  border-radius: 5px;
}

.h {
  font-weight: 900;
  font-size: 25px;
  color: black;
  height: 100px;
  width: 200;
  background-color: white;
  padding-top: 15px;
  opacity: 0.7;
  filter: alpha(opacity=50);
  border-radius: 5px;
}
.hh {
  font-weight: 900;
  font-size: 40px;
  color: green;
}
@media screen and (max-width: 800px) {
  .h {
    width: 130;
    font-size: 8px;
    color: black;
    opacity: 0.6;
    filter: alpha(opacity=50);
    font-weight: 900;
    height: 40px;
    background-color: white;
    padding-top: 12px;
  }
}

@media screen and (max-width: 800px) {
  .hh,
  .h {
    font-size: 7.5px;
  }
}

@media (max-width: 450px) {
  .btnRdv {
    width: 55px;
    height: 12px;
    font-size: 6px;
    background-color: transparent;
    color: white;
    font-weight: 900;
    color: red;
    background-color: transparent;
    border: 2px solid #4caf50;
    border-radius: 5px;
    padding: 0px;
  }
}
.im01 {
  height: 250px;
  width: 400px;
}
.sp1 {
  font-size: 22px;
  font-weight: 900;
  border-bottom: 2px solid red;
  padding: 6px;
  color: black;
}
@media screen and (max-width: 850px) {
  .F1 {
    flex-direction: column;
    justify-content: center;
    justify-content: flex-start;
    align-items: center;
  }
}

@media screen and (max-width: 850px) {
  .im01 {
    width: 300px;
    height: 150px;
  }
}
@media screen and (max-width: 850px) {
  .Descrip {
    padding: 2px;
  }
}

.w-100 {
  opacity: 0.5;
  filter: alpha(opacity=50); /* For IE8 and earlier */
}
.navbar-light .navbar-brand {
  color: red;
  font-weight: 900;
  font-size: 25px;
  margin-left: 0px;
  padding: 0px;
}

@media (min-width: 960px) {
  .B1 .B2 {
    justify-content: space-around;
  }
}

@media screen and (max-width: 800px) {
  #Tel {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;
  }
}

@media screen and (max-width: 800px) {
  #lab {
    text-align: center;
    width: 200px;
  }
}
/**/
/* STYLING ESPACE PATIENTS, PROFESSIONNELS, EQUIPEMENT */
.site-section {
  padding: 3rem 0;
}
@media (max-width: 991.98px) {
  .site-section {
    padding: 4rem 0;
  }
}
.text-primary {
  color: #860707 !important;
}
